@import "src/scss/style.scss";

.newyear {
  &__content {
    display: flex;
    justify-content: space-between;
    background-color: $black;
    border-radius: $borderRadius;
  }
  &__promo {
    padding: 75px 0 160px;
    width: 50%;
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__newyear {
    margin-bottom: 27px;
    font-weight: 300;
    font-size: 70px;
    line-height: 85px;
    color: $indigo;
  }
  &__sale {
    font-weight: 300;
    font-size: 150px;
    line-height: 183px;
    color: $indigo;
  }
  &__shoes {
    width: 204px;
    height: 170px;
    position: absolute;
    top: 326px;
    left: -25px;
    background-image: url("../../../assets/img/images/shoes-image.png");
    // no-repeat/center cover;
  }
  &__game-console {
    width: 269px;
    height: 151px;
    position: absolute;
    top: 443px;
    right: -20px;
    background-image: url("../../../assets/img/images/game-console-image.png");
  }
  &__img {
    width: 50%;
    height: 570px;
    background-image: url("../../../assets/img/images/new-year-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & > p {
      margin-top: rem(520);
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $lightBlack;
      & > span {
        font-weight: 700;
      }
    }
  }
}
