<form *ngIf="isLogin && !isToken" class="form" [formGroup]="formSignIn" (ngSubmit)="onSubmitSignIn()">
  <span class="form__close" (click)="onCloseModal()"></span>
  <h3 class="form__title">Sign In to Your Account</h3>
  <div *ngIf="!isToken" class="form__error">*email or password not found</div>
  <input type="email" name="email" placeholder="email" formControlName="email">
  <!-- <div *ngIf="!isValidEmail" class="form__error">*password must be at least 6 characters</div> -->
  <div *ngIf="formSignIn.get('email')?.invalid && formSignIn.get('email')?.touched" class="form__error">
    *password must be at least 6 characters</div>
  <input type="password" name="password" formControlName="password" placeholder="password">
  <!-- <input type="text" name="name" placeholder="Username"> -->
  <button class="form__btn" type="submit">Sign in</button>
  <p class="form__sign-in">Don't have an account? <span (click)="onOpenNewForm()">Sign up and get started!</span>
  </p>
</form>

<form *ngIf="!isLogin && !isToken" class="form" [formGroup]="formSignUp" (ngSubmit)="onSubmitSignUp()">
  <span class="form__close" (click)="onCloseModal()"></span>
  <h3 class="form__title">Register</h3>
  <input type="email" name="email" formControlName="email" placeholder="email">
  <div *ngIf="!isEmail" class="form__error">*the email address has already been allocated to another customer</div>
  <div *ngIf="formSignUp.get('email')?.invalid && formSignUp.get('email')?.touched" class="form__error">*no email</div>
  <input type="text" name="password" formControlName="password" placeholder="password">
  <div *ngIf="formSignUp.get('password')?.invalid && formSignUp.get('password')?.touched" class="form__error">*password
    must contain at least 6 characters and at least one capital letter and one number.</div>
  <div *ngIf="formSignUp.get('password')?.invalid && formSignUp.get('password')?.touched" class="form__error">
    *valid сharacters: !"№;%:?*</div>
  <input type="text" name="name" formControlName="name" placeholder="Username">
  <div *ngIf="formSignUp.get('name')?.invalid && formSignUp.get('name')?.touched" class="form__error">*no name</div>
  <button class="form__btn" type="submit">Sign up</button>
  <p class="form__sign-in">Already have an account? <span (click)="onOpenNewForm()">Sign In!</span>
  </p>
</form>

<div *ngIf="isToken && currentUserName.length > 0" class="my-account">
  <span class="my-account__close" (click)="onCloseModal()"></span>
  <h3 class="my-account__title">Hi, {{currentUserName}}</h3>
  <!-- <div class="my-account__list-link"> -->
  <a class="my-account__link" (click)="onMyAccount()">My Account</a>
  <a class="my-account__link" (click)="onMyOrders()">My Orders</a>
  <a class="my-account__link" (click)="onSignOut()">Sign Out</a>
  <!-- </div> -->
</div>