<section class="newyear mb-20">
  <div class="newyear__content container">
    <div class="newyear__promo">
      <span class="newyear__newyear">New Year</span>
      <span class="newyear__sale">Sale</span>
      <!-- <shop-btn routerLink="/newyear" [btnTextContent]="myBtnTextContent"></shop-btn> -->
      <div class="newyear__shoes"></div>
      <div class="newyear__game-console"></div>
    </div>
    <div class="newyear__img">
      <p class="subtitle">save up to <span>50%</span> off</p>
    </div>
  </div>
</section>